:root {
    --default-font-family: 'Poppins', sans-serif;
    --heading-font-family: "Playfair Display", serif;
    --primary-color:#6c63ff;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    --secondary-color: #fff;
}

body {
    font-family: var(--default-font-famil);
}

h2 {
    font-size: 80px;
    text-align: center;
    font-family: var(--heading-font-family);
}

.container-fluid {
    font-family: var(--heading-font-family);
}

@media (max-width: 576px) {
    .col-sm-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    h2 {
        font-size: 44px;
        font-weight: bold;
    }

    p {
        text-align: center;
    }

    .primary-link {
        text-align: center;
    }
    
    .project-link {
        display: block;
        text-align: center;
        margin: 0 20px;
    }
}

h1 {
    font-weight: 500;
}

h3 {
    font-size: 24px;
    opacity: 0.7;
}

.navigation-links {
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.navigation-links a {
    margin: 20px;
}

.primary-link {
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: var(--secondary-color);
}

.secondary-link {
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    box-shadow: var(--box-shadow);
}

.row {
    display: flex;
    flex-wrap: wrap;
}
